body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

#imageDisplay, #encryptedImageDisplay {
    margin-top: 20px;
    border: 1px solid #ccc;
    padding: 10px;
    width: 300px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

#imageDisplay img, #encryptedImageDisplay img {
    max-width: 100%;
    max-height: 100%;
}

#keyDisplay {
    margin-top: 20px;
    padding: 10px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    word-wrap: break-word;
}
